@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora:ital@0;1&display=swap');

body {
  background-color: linen;
  background-repeat: no-repeat;
  color: #606060;
  margin: 10px;
}

header {
  font-size: 150%;
  text-align: center;
}

h1, h2 {
  font-family: 'Libre Baskerville', sans-serif;
}

a {
  color: #b00c2f;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.content {
  font-family: 'Lora', sans-serif;
}

header, main, section, footer {
  padding-top: 10px;
}

footer {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 80%;
}
