@font-face {
  font-family: 'Libre Baskerville';
  src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');

}

@font-face {
  font-family: 'Lora';
  src: url('fonts/Lora/Lora-VariableFont_wght.ttf');
}

body {
  background-color: linen;
  background-repeat: no-repeat;
  color: #606060;
  margin: 10px;
  padding: 1em;
}

header {
  font-size: 150%;
  text-align: center;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
}

a {
  color: #b00c2f;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.content {
  font-family: 'Lora', serif;
}

header, main, section, footer {
  padding-top: 10px;
}

footer {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 80%;
}

a.footer-link {
  color: #808080;
  text-decoration: none;
}

a:hover.footer-link {
  color: #b00c2f;
}
